In [1]:
import pandas as pd
import yfinance as yf

In [4]:
# get data 
start_date = "2021-08-01"  
end_date = "2023-08-01"  
data = yf.download('^GSPC', start=start_date, end=end_date)
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-08-02,4406.859863,4422.180176,4384.810059,4387.160156,4387.160156,3724090000
2021-08-03,4392.740234,4423.790039,4373.000000,4423.149902,4423.149902,3965190000
2021-08-04,4415.950195,4416.169922,4400.229980,4402.660156,4402.660156,4260760000
2021-08-05,4408.859863,4429.759766,4408.859863,4429.100098,4429.100098,3769410000
2021-08-06,4429.069824,4440.819824,4429.069824,4436.520020,4436.520020,3451870000
...,...,...,...,...,...,...
2023-07-25,4555.189941,4580.620117,4552.419922,4567.459961,4567.459961,3812470000
2023-07-26,4558.959961,4582.470215,4547.580078,4566.750000,4566.750000,3990290000
2023-07-27,4598.259766,4607.069824,4528.560059,4537.410156,4537.410156,4553210000
2023-07-28,4565.750000,4590.160156,4564.009766,4582.229980,4582.229980,3981010000
2023-07-31,4584.819824,4594.220215,4573.140137,4588.959961,4588.959961,4503600000

In [10]:
symbols = ["AAPL", "AMZN", "GOOG", "META", "MSFT", "NVDA", "TSLA"]
market_symbol = '^GSPC'  # S&P 500 index symbol
stock_data = yf.download(symbols, start=start_date, end=end_date)
print(stock_data)

[*********************100%***********************]  7 of 7 completed

1 Failed download:
['MSFT']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2021-08-01 -> 2023-08-01)')

             Adj Close                                                       \
                  AAPL        AMZN        GOOG        META MSFT        NVDA
Date
2021-08-02  143.640503  166.574005  135.989502  351.950012  NaN  197.202652
2021-08-03  145.456726  168.311996  136.279999  351.239990  NaN  197.851669
2021-08-04  145.052017  167.735992  136.028503  358.920013  NaN  202.434753
2021-08-05  145.160629  168.799500  136.940002  362.970001  NaN  206.059280
2021-08-06  144.468628  167.246994  137.035995  363.510010  NaN  203.353394
...                ...         ...         ...         ...  ...         ...
2023-07-25  193.358887  129.130005  122.790001  294.470001  NaN  456.790009
2023-07-26  194.237701  128.149994  129.660004  298.570007  NaN  454.519989
2023-07-27  192.959427  128.250000  129.869995  311.709991  NaN  459.000000
2023-07-28  195.565918  132.210007  133.009995  325.480011  NaN  467.500000
2023-07-31  196.185074  133.679993  133.110001  318.600006  NaN  467.290009

                             Close                          ... Open  \
                  TSLA        AAPL        AMZN        GOOG  ... MSFT
Date                                                        ...
2021-08-02  236.556671  145.520004  166.574005  135.989502  ...  NaN
2021-08-03  236.580002  147.360001  168.311996  136.279999  ...  NaN
2021-08-04  236.973328  146.949997  167.735992  136.028503  ...  NaN
2021-08-05  238.210007  147.059998  168.799500  136.940002  ...  NaN
2021-08-06  233.033340  146.139999  167.246994  137.035995  ...  NaN
...                ...         ...         ...         ...  ...  ...
2023-07-25  265.279999  193.619995  129.130005  122.790001  ...  NaN
2023-07-26  264.350006  194.500000  128.149994  129.660004  ...  NaN
2023-07-27  255.710007  193.220001  128.250000  129.869995  ...  NaN
2023-07-28  266.440002  195.830002  132.210007  133.009995  ...  NaN
2023-07-31  267.429993  196.449997  133.679993  133.110001  ...  NaN

                                      Volume                                \
                  NVDA        TSLA      AAPL      AMZN      GOOG      META
Date
2021-08-02  197.000000  233.333328  62880000  67078000  20140000  13180400
2021-08-03  197.399994  239.666672  64786600  83146000  19064000  12406100
2021-08-04  199.899994  237.000000  56368300  43678000  16528000  14180600
2021-08-05  205.000000  238.666672  46397700  48670000  11866000  10247200
2021-08-06  205.240005  237.300003  54126800  52752000  13560000   8925000
...                ...         ...       ...       ...       ...       ...
2023-07-25  449.410004  272.380005  37283200  39236700  31820800  19585600
2023-07-26  460.209991  263.250000  47471900  53910100  46216900  47256900
2023-07-27  465.190002  268.309998  47460200  52610700  35931600  64229200
2023-07-28  466.679993  259.859985  48291400  46317400  26971000  39220300
2023-07-31  467.540009  267.480011  38824100  41901500  18381900  25799600


           MSFT      NVDA       TSLA
Date
2021-08-02  NaN  21744400  100847400
2021-08-03  NaN  30181100   64860900
2021-08-04  NaN  23130900   51007800
2021-08-05  NaN  21143500   38758800
2021-08-06  NaN  17849700   46869000
...         ...       ...        ...
2023-07-25  NaN  34808100  112757300
2023-07-26  NaN  36423700   95856200
2023-07-27  NaN  45597600  103697300
2023-07-28  NaN  33119400  111446000
2023-07-31  NaN  25105500   84582200

[502 rows x 42 columns]

In [12]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
# Dictionary to store beta values for each symbol
beta_values = {}

# Fetch historical price data for each symbol and the S&P 500 index
for symbol in symbols:
    stock_data = yf.download(symbol, start=start_date, end=end_date)['Adj Close']
    market_data = yf.download(market_symbol, start=start_date, end=end_date)['Adj Close']

    stock_df = pd.DataFrame(stock_data)
    market_df = pd.DataFrame(market_data)

    stock_returns = stock_df.pct_change().dropna()
    market_returns = market_df.pct_change().dropna()

    covariance = stock_returns['Adj Close'].cov(market_returns['Adj Close'])
    market_variance = market_returns['Adj Close'].var()

    beta = covariance / market_variance
    beta_values[symbol] = beta

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
# Print the beta values
print("Beta Values:")
for symbol, beta in beta_values.items():
    print(f"{symbol}: {beta}")

Beta Values:
AAPL: 1.2780714153028754
AMZN: 1.5773116597141417
GOOG: 1.3400637739489696
META: 1.730275180808558
MSFT: 1.2787921726232887
NVDA: 2.231570666788548
TSLA: 1.8171366513874363